# English Premier League 2021/22 Bar Chart Race

## 1. Import libraries

In [1]:
import bar_chart_race as bcr
import pandas as pd
import time

## 2. Load raw dataset

We will be using data from [Football-Data](https://www.football-data.co.uk/), which is a "free football betting portal providing historical results & odds to help football betting enthusiasts analyse many years of data quickly".

In [2]:
raw_df = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/E0.csv", parse_dates=['Date'], dayfirst=True)
raw_df = raw_df[['Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']]
raw_df.tail()

          Date   Time     HomeTeam        AwayTeam  FTHG  FTAG FTR
365 2022-05-16  20:00    Newcastle         Arsenal     2     0   H
366 2022-05-17  19:45  Southampton       Liverpool     1     2   A
367 2022-05-19  19:45      Everton  Crystal Palace     3     2   H
368 2022-05-19  20:00  Aston Villa         Burnley     1     1   D
369 2022-05-19  20:00      Chelsea       Leicester     1     1   D

In [3]:
raw_df.tail()

          Date   Time     HomeTeam        AwayTeam  FTHG  FTAG FTR
365 2022-05-16  20:00    Newcastle         Arsenal     2     0   H
366 2022-05-17  19:45  Southampton       Liverpool     1     2   A
367 2022-05-19  19:45      Everton  Crystal Palace     3     2   H
368 2022-05-19  20:00  Aston Villa         Burnley     1     1   D
369 2022-05-19  20:00      Chelsea       Leicester     1     1   D

## 3. Wrangle data into "wide" format

We need to wrangle the raw data in `raw_df` DataFrame into a format that is necessary before the `bar_chart_race` package can be used. According to its [documentation](https://github.com/dexplo/bar_chart_race#:~:text=Must%20begin%20with%20a%20pandas%20DataFrame%20containing%20%27wide%27%20data%20where%3A), the data must be in the following format:  

- Every row represents a single period of time
- Each column holds the value for a particular category
- The index contains the time component (optional)

In [4]:
def get_hometeam_points(result):
    """Compute points awarded given a particular result:
    - 3 points for a win;
    - 1 point for a draw;
    - 0 point for a loss.
    """
    if result == 'H':
        return 3
    elif result == 'A':
        return 0
    elif result == 'D':
        return 1
    
def get_awayteam_points(result):
    """Compute points awarded given a particular result:
    - 3 points for a win;
    - 1 point for a draw;
    - 0 point for a loss.
    """
    if result == 'A':
        return 3
    elif result == 'H':
        return 0
    elif result == 'D':
        return 1
    
raw_df.loc[:, 'HomeTeam_Points'] = raw_df['FTR'].apply(get_hometeam_points)
raw_df.loc[:, 'AwayTeam_Points'] = raw_df['FTR'].apply(get_awayteam_points)
raw_df.tail()

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HomeTeam_Points,AwayTeam_Points
365,2022-05-16,20:00,Newcastle,Arsenal,2,0,H,3,0
366,2022-05-17,19:45,Southampton,Liverpool,1,2,A,0,3
367,2022-05-19,19:45,Everton,Crystal Palace,3,2,H,3,0
368,2022-05-19,20:00,Aston Villa,Burnley,1,1,D,1,1
369,2022-05-19,20:00,Chelsea,Leicester,1,1,D,1,1

In [5]:
# Select relevant columns only
df1 = raw_df[['Date', 'HomeTeam', 'AwayTeam', 'HomeTeam_Points', 'AwayTeam_Points']]

# Pivot `df1` so each row correspond to each team
df2 = pd.melt(df1, id_vars=['Date'], value_vars=['HomeTeam', 'AwayTeam'], value_name='Team')

# Pivot `df1` so each row correspond to each point
df3 = pd.melt(df1, id_vars=['Date'], value_vars=['HomeTeam_Points', 'AwayTeam_Points'], value_name='Points')

# Put `df2` and `df3` side by side
df4 = pd.concat([df2, df3], axis=1)

# Select `Date`, `Team` and `Points` columns only 
df5 = df4.iloc[:, [0, 2, 5]]

# Pivot `df5`, so teams are in columns and rows are each timestamp
df6 = pd.pivot(df5, index='Date', columns='Team', values='Points')

# Fill NaN with 0
df6.fillna(0, inplace=True)

# Get `Date` from the index
df6.reset_index(inplace=True) 

# Group points by week
df6 = df6.groupby(pd.Grouper(key='Date', freq='W')).sum()

# Do a cumulative sum
df7 = df6.cumsum()

df7

Team,Arsenal,Aston Villa,Brentford,Brighton,Burnley,Chelsea,Crystal Palace,Everton,Leeds,Leicester,Liverpool,Man City,Man United,Newcastle,Norwich,Southampton,Tottenham,Watford,West Ham,Wolves
Date,,,,,,,,,,,,,,,,,,,,
2021-08-15,0.0,0.0,3.0,3.0,0.0,3.0,0.0,3.0,0.0,3.0,3.0,0.0,3.0,0.0,0.0,0.0,3.0,3.0,3.0,0.0
2021-08-22,0.0,3.0,4.0,6.0,0.0,6.0,1.0,4.0,1.0,3.0,6.0,3.0,4.0,0.0,0.0,1.0,6.0,3.0,3.0,0.0
2021-08-29,0.0,4.0,5.0,6.0,1.0,7.0,2.0,7.0,2.0,6.0,7.0,6.0,7.0,1.0,0.0,2.0,9.0,3.0,7.0,0.0
2021-09-05,0.0,4.0,5.0,6.0,1.0,7.0,2.0,7.0,2.0,6.0,7.0,6.0,7.0,1.0,0.0,2.0,9.0,3.0,7.0,0.0
2021-09-12,3.0,4.0,5.0,9.0,1.0,10.0,5.0,7.0,2.0,6.0,10.0,9.0,10.0,1.0,0.0,3.0,9.0,3.0,8.0,3.0
2021-09-19,6.0,7.0,8.0,12.0,1.0,13.0,5.0,10.0,3.0,6.0,13.0,10.0,13.0,2.0,0.0,4.0,9.0,6.0,8.0,3.0
2021-09-26,9.0,10.0,9.0,12.0,2.0,13.0,5.0,13.0,3.0,7.0,14.0,13.0,13.0,3.0,0.0,4.0,9.0,7.0,11.0,6.0
2021-10-03,10.0,10.0,12.0,14.0,3.0,16.0,7.0,14.0,6.0,8.0,15.0,14.0,14.0,3.0,1.0,4.0,12.0,7.0,11.0,9.0
2021-10-10,10.0,10.0,12.0,14.0,3.0,16.0,7.0,14.0,6.0,8.0,15.0,14.0,14.0,3.0,1.0,4.0,12.0,7.0,11.0,9.0
2021-10-17,10.0,10.0,12.0,15.0,3.0,19.0,7.0,14.0,6.0,11.0,18.0,17.0,14.0,3.0,2.0,7.0,15.0,7.0,14.0,12.0
2021-10-24,14.0,10.0,12.0,15.0,4.0,22.0,9.0,14.0,7.0,14.0,21.0,20.0,14.0,4.0,2.0,8.0,15.0,10.0,17.0,13.0
2021-10-31,17.0,10.0,12.0,16.0,7.0,25.0,12.0,14.0,10.0,14.0,22.0,20.0,17.0,4.0,2.0,11.0,15.0,10.0,20.0,13.0
2021-11-07,20.0,10.0,12.0,17.0,8.0,26.0,15.0,15.0,11.0,15.0,22.0,23.0,17.0,5.0,5.0,14.0,16.0,10.0,23.0,16.0
2021-11-14,20.0,10.0,12.0,17.0,8.0,26.0,15.0,15.0,11.0,15.0,22.0,23.0,17.0,5.0,5.0,14.0,16.0,10.0,23.0,16.0
2021-11-21,20.0,13.0,13.0,17.0,9.0,29.0,16.0,15.0,11.0,15.0,25.0,26.0,17.0,6.0,8.0,14.0,19.0,13.0,23.0,19.0
2021-11-28,23.0,16.0,16.0,18.0,9.0,30.0,16.0,15.0,12.0,18.0,28.0,29.0,18.0,6.0,9.0,14.0,19.0,13.0,23.0,20.0
2021-12-05,23.0,19.0,17.0,20.0,10.0,33.0,16.0,15.0,16.0,19.0,34.0,35.0,24.0,10.0,10.0,16.0,25.0,13.0,27.0,21.0
2021-12-12,26.0,19.0,20.0,20.0,11.0,36.0,19.0,18.0,16.0,22.0,37.0,38.0,27.0,10.0,10.0,16.0,25.0,13.0,28.0,21.0
2021-12-19,32.0,22.0,20.0,20.0,11.0,38.0,20.0,19.0,16.0,22.0,41.0,44.0,27.0,10.0,10.0,17.0,26.0,13.0,28.0,25.0
2021-12-26,35.0,22.0,20.0,23.0,11.0,41.0,20.0,19.0,16.0,22.0,41.0,47.0,27.0,10.0,10.0,20.0,29.0,13.0,28.0,25.0
2022-01-02,35.0,22.0,23.0,27.0,11.0,43.0,23.0,19.0,19.0,25.0,42.0,53.0,31.0,11.0,10.0,21.0,33.0,13.0,34.0,25.0
2022-01-09,35.0,22.0,23.0,27.0,11.0,43.0,23.0,19.0,19.0,25.0,42.0,53.0,31.0,11.0,10.0,21.0,33.0,13.0,34.0,28.0
2022-01-16,35.0,23.0,23.0,28.0,11.0,43.0,24.0,19.0,22.0,25.0,45.0,56.0,32.0,12.0,13.0,24.0,33.0,14.0,37.0,31.0
2022-01-23,36.0,26.0,23.0,30.0,12.0,47.0,24.0,19.0,22.0,26.0,48.0,57.0,38.0,15.0,16.0,25.0,36.0,14.0,37.0,34.0
2022-01-30,36.0,26.0,23.0,30.0,12.0,47.0,24.0,19.0,22.0,26.0,48.0,57.0,38.0,15.0,16.0,25.0,36.0,14.0,37.0,34.0
2022-02-06,36.0,26.0,23.0,30.0,13.0,47.0,24.0,19.0,22.0,26.0,48.0,57.0,38.0,15.0,16.0,25.0,36.0,15.0,37.0,34.0
2022-02-13,39.0,27.0,24.0,33.0,14.0,47.0,26.0,22.0,23.0,27.0,54.0,63.0,40.0,21.0,17.0,29.0,36.0,15.0,41.0,37.0
2022-02-20,42.0,27.0,24.0,33.0,17.0,50.0,26.0,22.0,23.0,27.0,57.0,63.0,46.0,22.0,17.0,32.0,39.0,18.0,42.0,40.0
2022-02-27,45.0,30.0,24.0,33.0,21.0,50.0,30.0,22.0,23.0,27.0,60.0,66.0,47.0,25.0,17.0,35.0,42.0,19.0,45.0,40.0
2022-03-06,48.0,33.0,27.0,33.0,21.0,53.0,33.0,22.0,23.0,33.0,63.0,69.0,47.0,28.0,17.0,35.0,42.0,19.0,45.0,40.0
2022-03-13,51.0,36.0,30.0,33.0,21.0,59.0,33.0,22.0,26.0,33.0,66.0,69.0,50.0,31.0,17.0,35.0,45.0,22.0,48.0,46.0
2022-03-20,54.0,36.0,30.0,33.0,21.0,59.0,34.0,25.0,29.0,36.0,69.0,70.0,50.0,31.0,17.0,35.0,51.0,22.0,48.0,46.0
2022-03-27,54.0,36.0,30.0,33.0,21.0,59.0,34.0,25.0,29.0,36.0,69.0,70.0,50.0,31.0,17.0,35.0,51.0,22.0,48.0,46.0
2022-04-03,54.0,36.0,33.0,34.0,21.0,59.0,34.0,25.0,30.0,37.0,72.0,73.0,51.0,31.0,18.0,36.0,54.0,22.0,51.0,49.0
2022-04-10,54.0,36.0,36.0,37.0,24.0,62.0,37.0,28.0,33.0,40.0,73.0,74.0,51.0,34.0,21.0,36.0,57.0,22.0,51.0,49.0
2022-04-17,54.0,36.0,39.0,40.0,25.0,62.0,37.0,28.0,33.0,40.0,73.0,74.0,54.0,37.0,21.0,39.0,57.0,22.0,52.0,49.0
2022-04-24,60.0,37.0,40.0,41.0,31.0,65.0,37.0,29.0,33.0,42.0,79.0,80.0,54.0,43.0,21.0,40.0,58.0,22.0,52.0,49.0
2022-05-01,63.0,40.0,40.0,44.0,34.0,66.0,41.0,32.0,34.0,42.0,82.0,83.0,55.0,43.0,21.0,40.0,61.0,22.0,52.0,49.0
2022-05-08,66.0,43.0,43.0,47.0,34.0,67.0,44.0,35.0,34.0,42.0,83.0,86.0,58.0,43.0,21.0,40.0,62.0,22.0,55.0,50.0
2022-05-15,66.0,44.0,46.0,48.0,34.0,70.0,45.0,36.0,35.0,48.0,86.0,90.0,58.0,43.0,22.0,40.0,68.0,23.0,56.0,51.0
2022-05-22,66.0,45.0,46.0,48.0,35.0,71.0,45.0,39.0,35.0,49.0,89.0,90.0,58.0,46.0,22.0,40.0,68.0,23.0,56.0,51.0

## 4. Create a bar chart race using `bar_chart_race` package

In [6]:
# help(bcr.bar_chart_race)

In [8]:
start = time.time()

bcr.bar_chart_race(
    df=df7, 
    filename='../output/epl_2122_race.mp4',
    n_bars=20, 
    fixed_order=False,
    fixed_max=True,
    steps_per_period=30, 
    period_length=700,
    interpolate_period=True,
    period_label={
        'ha': 'right',
        'va': 'center', 
        'weight': 'semibold',
        'size': 35
    },
    period_template="%B %Y",
    colors=[
            '#EF0107', '#95BFE5', '#E30613', '#0057B8', '#6C1D45', 
            '#034694', '#1B458F', '#003399', '#FFCD00', '#003090',
            '#C8102E', '#6CABDD', '#DA291C', '#241F20', '#00A650', 
            '#D71920', '#132257', '#FBEE23', '#7A263A', '#FDB913'
        ],
    title={
        'label': 'The 2021/22 English Premier League Season in 30 Seconds',
        'size': 45,
        'weight': 'bold',
        'pad': 30
    },
    bar_size=0.70,
    bar_textposition='inside',
    bar_label_font={
        'size': 15,
        'family': 'DejaVu Sans',
        'color': '#FFFFFF',
        'weight': 'semibold'
    }, 
    tick_label_font={
        'size': 18,
        'family': 'DejaVu Sans',
        'color': '#7f7f7f',
    }, 
    bar_kwargs={
        'alpha': 0.8,
    }, 
    fig_kwargs={
        'figsize': (30, 16),
        'dpi': 150,
    }, 
    img_label_folder="../logos", 
    tick_label_mode='mixed', 
)

print(f"Completed in {round((end - start)/60, 2)} mins!")

NameError: name 'end' is not defined

## Useful resources:

- asfda
- asfda
- asdfa